{% extends 'base.html.twig' %}

{% block title %}Personne index{% endblock %}
{% block body %}

    <!--Main layout-->
    <main class="pt-5 mx-lg-5">
        <div class="container-fluid mt-5">


            {% include "Common/Heading.html.twig" %}


            <!--Grid row-->
            <div class="row wow fadeIn">

                <!--Grid column-->
                <div class="col-lg-12 col-md-12 mb-4">

                    <!--Card-->
                    <div class="card">

                        <!-- Card header -->
                        <div class="card-header">Personnes </div>

                        <!--Card content-->
                        <div class="card-body">


                            <table class="table">
                                <thead>
                                <tr>
                                    <th>IdPers</th>
                                    <th>NomPers</th>
                                    <th>PrenomPers</th>
                                    <th>DataNaissance</th>
                                    <th>actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for personne in personnes %}
                                    <tr>
                                        <td>{{ personne.idPers }}</td>
                                        <td>{{ personne.nomPers }}</td>
                                        <td>{{ personne.prenomPers }}</td>
                                        <td>{{ personne.dataNaissance ? personne.dataNaissance|date('Y-m-d') : '' }}</td>
                                        <td>
                                            <a href="{{ path('personne_show', {'idPers': personne.idPers}) }}"><i class="far fa-eye"></i></a>
                                            <a href="{{ path('personne_edit', {'idPers': personne.idPers}) }}"><i class="fas fa-edit"></i></a>
                                        </td>
                                    </tr>
                                {% else %}
                                    <tr>
                                        <td colspan="5">no records found</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>

                            <a href="{{ path('personne_new') }}">Créer une nouvelle personne</a>

                        </div>

                    </div>
                    <!--/.Card-->

                </div>
                <!--Grid column-->


            </div>
            <!--Grid row-->


        </div>
    </main>
    <!--Main layout-->


{% endblock %}
