

{% extends 'base.html.twig' %}

{% block title %}Personne index{% endblock %}


{% block body %}

    <!--Main layout-->
    <main class="pt-5 mx-lg-5">
        <div class="container-fluid mt-5">

            {% include "Common/Heading.html.twig" %}


            <!--Grid row-->
            <div class="row wow fadeIn">

                <!--Grid column-->
                <div class="col-lg-12 col-md-12 mb-4">

                    <!--Card-->
                    <div class="card">

                        <!-- Card header -->
                        <div class="card-header">Residence</div>

                        <!--Card content-->
                        <div class="card-body">

                            <table class="table">
                                <thead>
                                <tr>
                                    <th>IdResi</th>
                                    <th>NomResi</th>
                                    <th>AdresseResi</th>
                                    <th>NombreAppart</th>
                                    <th>actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for residence in residences %}
                                    <tr>
                                        <td>{{ residence.idResi }}</td>
                                        <td>{{ residence.nomResi }}</td>
                                        <td>{{ residence.adresseResi }}</td>
                                        <td>{{ residence.nombreAppart }}</td>
                                        <td>
                                            <a href="{{ path('residence_show', {'idResi': residence.idResi}) }}"><i class="far fa-eye"></i></a>
                                            <a href="{{ path('residence_edit', {'idResi': residence.idResi}) }}"><i class="fas fa-edit"></i></a>
                                        </td>
                                    </tr>
                                {% else %}
                                    <tr>
                                        <td colspan="5">no records found</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>

                            <a href="{{ path('residence_new') }}">Créer une nouvelle résidence</a>

                        </div>

                    </div>
                    <!--/.Card-->

                </div>
                <!--Grid column-->


            </div>
            <!--Grid row-->


        </div>
    </main>
    <!--Main layout-->


{% endblock %}
