{% extends 'base.html.twig' %}

{% block title %}Personne index{% endblock %}


{% block body %}

    <!--Main layout-->
    <main class="pt-5 mx-lg-5">
        <div class="container-fluid mt-5">

            {% include "Common/Heading.html.twig" %}


            <!--Grid row-->
            <div class="row wow fadeIn">

                <!--Grid column-->
                <div class="col-lg-12 col-md-12 mb-4">

                    <!--Card-->
                    <div class="card">

                        <!-- Card header -->
                        <div class="card-header">Appartement</div>

                        <!--Card content-->
                        <div class="card-body">

                            <table class="table">
                                <thead>
                                <tr>
                                    <th>IdAppart</th>
                                    <th>NumeroAppart</th>
                                    <th>SurfaceAppart</th>
                                    <th>Etage</th>
                                    <th>actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for appartement in appartements %}
                                    <tr>
                                        <td>{{ appartement.idAppart }}</td>
                                        <td>{{ appartement.numeroAppart }}</td>
                                        <td>{{ appartement.surfaceAppart }}</td>
                                        <td>{{ appartement.etage }}</td>
                                        <td>
                                            <a href="{{ path('appartement_show', {'idAppart': appartement.idAppart}) }}"><i class="far fa-eye"></i></a>
                                            <a href="{{ path('appartement_edit', {'idAppart': appartement.idAppart}) }}"><i class="fas fa-edit"></i></a>
                                        </td>
                                    </tr>
                                {% else %}
                                    <tr>
                                        <td colspan="5">no records found</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>

                            <a href="{{ path('appartement_new') }}">Create new</a>

                        </div>

                    </div>
                    <!--/.Card-->

                </div>
                <!--Grid column-->


            </div>
            <!--Grid row-->


        </div>
    </main>
    <!--Main layout-->


{% endblock %}
