{% extends 'base.html.twig' %}

{% block title %}Personne index{% endblock %}


{% block body %}

    <!--Main layout-->
    <main class="pt-5 mx-lg-5">
        <div class="container-fluid mt-5">

            <!-- Heading -->
            <div class="card mb-4 wow fadeIn">

                <!--Card content-->
                <div class="card-body d-sm-flex justify-content-between">

                    <h4 class="mb-2 mb-sm-0 pt-1">
                        <a href="https://mdbootstrap.com/docs/jquery/" target="_blank">Home Page</a>
                        <span>/</span>
                        <span>Dashboard</span>
                    </h4>

                    <form class="d-flex justify-content-center">
                        <!-- Default input -->
                        <input type="search" placeholder="Type your query" aria-label="Search" class="form-control">
                        <button class="btn btn-primary btn-sm my-0 p" type="submit">
                            <i class="fas fa-search"></i>
                        </button>

                    </form>

                </div>

            </div>
            <!-- Heading -->



            <!--Grid row-->
            <div class="row wow fadeIn">

                <!--Grid column-->
                <div class="col-lg-12 col-md-12 mb-4">

                    <!--Card-->
                    <div class="card">

                        <!-- Card header -->
                        <div class="card-header">Appartement </div>

                        <!--Card content-->
                        <div class="card-body">

                            <h1>Appartement</h1>

                            <table class="table">
                                <tbody>
                                <tr>
                                    <th>IdAppart</th>
                                    <td>{{ appartement.idAppart }}</td>
                                </tr>
                                <tr>
                                    <th>NumeroAppart</th>
                                    <td>{{ appartement.numeroAppart }}</td>
                                </tr>
                                <tr>
                                    <th>SurfaceAppart</th>
                                    <td>{{ appartement.surfaceAppart }}</td>
                                </tr>
                                <tr>
                                    <th>Etage</th>
                                    <td>{{ appartement.etage }}</td>
                                </tr>
                                </tbody>
                            </table>

                            <a href="{{ path('appartement_index') }}" class="btn btn-info">Retour à la liste</a>

                            <a href="{{ path('appartement_edit', {'idAppart': appartement.idAppart}) }}" class="btn btn-secondary">Éditer</a>

                            {{ include('appartement/_delete_form.html.twig') }}

                        </div>

                    </div>
                    <!--/.Card-->

                </div>
                <!--Grid column-->


            </div>
            <!--Grid row-->


        </div>
    </main>
    <!--Main layout-->


{% endblock %}


